{% extends "root.html" %}

<!-- main -->
{% block main %}

<div class="hero">
  <h1>Adoption directory</h1>
  <div class="action"><a class="btn btn-primary" href="/add">Add Pet</a></div>
</div>

<div class="row">
  {% for pet in pets %}
  <div class="col-3">
    <a class="card" href="/{{pet.id}}">
      <img
        src="{{pet.photo_url}}"
        alt="{{pet.name}}"
        width="250"
        height="250"
      />
      <div class="info">
        <div
          class="label {% if pet.available %}available{% else %}adopted{% endif %}"
        >
          {% if pet.available %}available{% else %}adopted{% endif %}
        </div>
        <h4>{{pet.name}}</h4>
        <div>{{pet.species}}</div>
      </div>
    </a>
  </div>
  {% endfor %}
</div>

{% endblock %}
