{% extends "root.html" %}

<!-- main -->
{% block main %}
<div class="row">
  <div class="col-12 col-lg-6 offset-lg-3">
    <h1>Registration</h1>
    <p>User registration form.</p>
    <form class="form" action="" method="POST">
      <div class="mb-2">
        <label>Username</label>
        <input class="form-control" type="text" />
      </div>
      <div class="mb-2">
        <label>Password</label>
        <input class="form-control" type="text" />
      </div>
      <div class="mb-2">
        <label>Email</label>
        <input class="form-control" type="text" />
      </div>
      <div class="mb-2">
        <label>First Name</label>
        <input class="form-control" type="text" />
      </div>
      <div class="mb-2">
        <label>Last Name</label>
        <input class="form-control" type="text" />
      </div>
      <button class="btn btn-success" type="submit">Register</button>
    </form>
  </div>
</div>
{% endblock %}
