.page-wrapper {
  padding-top: 12px;
  padding-bottom: 12px;
}

header {
  height: 60px;
  display: flex;
  align-items: center;
  border-bottom: 4px solid #000;
}

header h1 {
  font-size: 28px;
  font-weight: bold;
}

header nav {
  margin-left: auto;
}

header nav a {
  color: #000;
  font-weight: bold;
  text-decoration: none;
  margin: 0 12px;
}

form label {
  display: block;
}
